<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MiniOrange_CookieConsent::privacy"
             title="miniOrange Cookie Consent"
             module="MiniOrange_CookieConsent"
             sortOrder="56"
             resource="MiniOrange_CookieConsent::config"/>

        <add id="MiniOrange_CookieConsent::tab_general"
             title="Banner Settings"
             module="MiniOrange_CookieConsent"
             sortOrder="0"
             parent="MiniOrange_CookieConsent::privacy"
             action="mocookieconsent/general/index"
             resource="MiniOrange_CookieConsent::tab_general"/>

        <add id="MiniOrange_CookieConsent::tab_script_manager"
             title="Script Manager"
             module="MiniOrange_CookieConsent"
             sortOrder="1"
             parent="MiniOrange_CookieConsent::privacy"
             action="mocookieconsent/scriptmanager/index"
             resource="MiniOrange_CookieConsent::tab_script_manager"/>

        <add id="MiniOrange_CookieConsent::tab_upgrade"
             title="Upgrade"
             module="MiniOrange_CookieConsent"
             sortOrder="2"
             parent="MiniOrange_CookieConsent::privacy"
             action="mocookieconsent/upgrade/index"
             resource="MiniOrange_CookieConsent::tab_upgrade"/>
    </menu>
</config>
