<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pdprotect>
            <general>
                <allowed_countries_mode>all</allowed_countries_mode>
                <log_guest_consent>1</log_guest_consent>
            </general>
            <customer_privacy>
                <enable_data_download>1</enable_data_download>
                <enable_anonymize>1</enable_anonymize>
                <enable_delete_account>1</enable_delete_account>
                <enable_opt_out>1</enable_opt_out>
            </customer_privacy>
        </pdprotect>
        <mopdp>
            <data_deletion>
                <abandoned_enabled>0</abandoned_enabled>
                <abandoned_value>2</abandoned_value>
                <abandoned_unit>years</abandoned_unit>
                <recent_docs_enabled>0</recent_docs_enabled>
                <recent_docs_value>1</recent_docs_value>
                <recent_docs_unit>years</recent_docs_unit>
                <order_status_enabled>0</order_status_enabled>
                <order_statuses></order_statuses>
                <order_action>anonymize</order_action>
            </data_deletion>
        </mopdp>
    </default>
</config>
