<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MiniOrange_Privacy">
        <sequence>
            <module name="MiniOrange_CookieConsent"/>
            <module name="MiniOrange_PDProtect"/>
        </sequence>
    </module>
</config>
