<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="mopdp_log_consent_on_login"
                  instance="MiniOrange\PDProtect\Observer\CustomerLoginObserver"/>
    </event>
</config>
