<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MiniOrange_CookieConsent::config" title="miniOrange Cookie Consent Extension" sortOrder="10">
                    <resource id="MiniOrange_CookieConsent::tab_banner_settings" title="Banner Settings" sortOrder="0"/>
                    <resource id="MiniOrange_CookieConsent::tab_script_manager" title="Script Manager" sortOrder="1"/>
                    <resource id="MiniOrange_CookieConsent::tab_upgrade" title="Upgrade" sortOrder="2"/>
                    <resource id="MiniOrange_CookieConsent::support" title="Support (floating widget)" sortOrder="3"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
